body {
	background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

.content {
	padding: 80px 0;
	min-width: 420px;
}

.navigation {
	text-align: right;
}

.emptyheader {
	height: 80px;
}

.card {
	background: #FAFBFB;
	border: 1px solid #D7D8D9;
	border-radius: 3px;
}

.card-content {
	padding: 15px;
	height: 100%;
}

.section {
	margin-top: 20px;
}

.foursquare-logo {
	width: 200px;
	position: absolute;
	bottom: 0px;
}

.about {
	text-align:justify;
	font-size: large;
}

.about a {
	color: #34495E;
}

.about a:hover {
	color: #1abc9c;
	text-decoration: underline;
}

.venue {
	text-align:justify;
	font-size: x-large;
}

.venue a {
	color: #34495E;
}

.venue a:hover {
	color: #1abc9c;
	text-decoration: underline;
}

.demo {
	position:absolute;
	right:120px;
	top:98px;
	overflow: hidden;
}

.about-image {
	background-image: url('http://farm4.staticflickr.com/3476/3839524470_26164567cc_z.jpg');
	background-position: center center;
	min-height: 400px;
	min-width: 380px;
}

.secondary {
	color: silver
}

.copyright {
	color: #a3a3a3;
	font-size: smaller;
}

#map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 380px;
}

/* Instagram badge */
.ig-b- { display: inline-block; -webkit-transition: none; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; transition-property: none; } 
.ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(http://badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(http://badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }